<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Dojo Survey</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/result" method="post">
        <div>
            <label for="form-group">Name</label>
            <input type="text" placeholder="Name" name="name">
        </div>
        <div>
            <label for="inputlocation">Locations</label>
            <select name="dojo_location">
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Dallas">Dallas</option>
                <option value="Tysons Corner">Tysons Corner</option>
                <option value="Chicago">Chicago</option>
                <option value="Tulsa">Tulsa</option>
                <option value="East Bay">East Bay</option>
            </select>
        </div>
        <div>
            <label for="inputlocation">Favorite Language</label>
            <select name="favlanguage">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="Swift">Swift</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div>
            <label>Comments (Optional)</label>
            <textarea name="comments"></textarea>
        </div>
        <button type="submit" value="Submit">Submit</button>
    </form>


</body>

</html>